:root {
    --base-color: rgba(196, 239, 251, 0.593);
    --base-second-color: rgba(205, 205, 205, 0.614);
    --secondary-color: rgba(107, 186, 255, 0.726);
    --base-white: #edf2f4ff;
    --base-button-color: #f13535ff;
    --base-hover-button: #cb2121ff;
    --base-disable-button: #666666;
    --red-error-button: rgb(240, 103, 103);
}